html, body {
    width: 100%;
    margin: 0 0;
    overflow: hidden;
}

.main {
		height: 100%;
    background-image: url("background ccopy.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.table-div {
	position: absolute;
	margin: 200px 450px;
}

#thingy {
    margin: 0 auto;
}

#myProgress {
  position: absolute;
  margin-top: 190px;
  margin-left: 1085px;
  width: 7%;
  height: 400px;
  background-color: #00bff3;
  border-radius: 10px;
}

#myBar {
  position: absolute;
  width: 100%;
  height: 90%;
  background-color: white;
  border-radius: -10px;
}

#label {
  text-align: center;
  line-height: 30px;
  margin-top: 360px;
  color: white;
}

.drop {
  background:-webkit-gradient(linear,0% 0%,0% 100%, from(rgba(13,52,58,1) ), to(rgba(255,255,255,0.6))  );
  background: -moz-linear-gradient(top, rgba(13,52,58,1) 0%, rgba(255,255,255,.6) 100%);
	width:1px;
	height:50px;
	position: absolute;
	bottom:200px;
	-webkit-animation: fall .63s linear infinite;
  -moz-animation: fall .63s linear infinite;
  
}

input {
  background-color: #00bff3; border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

/* animate the drops*/
@-webkit-keyframes fall {
	to {margin-top:900px;}
}
@-moz-keyframes fall {
	to {margin-top:900px;}
}
